@{
    ViewBag.Title = "Vacation-Ready";
}

<div class="text-center mb-4 m-auto">
    <h1 class="h1 mb-3 font-weight-normal">Vacation-Ready</h1>
    <h3 class="h3 mb-3 font-weight-normal">Submit vacation requests online</h3>
    <button class="btn btn-lg btn-primary mt-3" onclick="window.location.href='@Url.Action("Login", "Home")'">Sign in</button>
    <button class="btn btn-lg btn-primary mt-3" onclick="window.location.href='@Url.Action("Registration", "Home")'">Register</button>
</div>