@{
    ViewBag.Title = "Vacation-Ready";
}

<div class="index">
    <h1>Vacation-Ready</h1>
    <h3>Submit vacation requests online</h3>
    <div class="wrapper">
        <a class="nav-link button" asp-controller="Home" asp-action="Login">Sign in</a>
        <a class="nav-link button" asp-controller="Home" asp-action="Registration">Register</a>    
    </div>
</div>

<style>
    .index {
        height: 200px;
        width: 400px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }

    h1, h3 {
        text-align: center;
    }

    .wrapper {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }

    .button {
        display: inline-block;
        padding-bottom: 5px;
    }
</style>