@model LoginViewModel

@{
    ViewBag.TItle = "Login";
}

<form method="post" class="form-signin">
    <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">Sign in</h1>
    </div>
    <div class="form-label-group">
        <input id="inputUsername" asp-for="Username" class="form-control" type="text" placeholder="Username" required="" autofocus="" />
        <label asp-for="Username"></label>
    </div>
    <div class="form-label-group">
        <input id="inputPassword" asp-for="Password" class="form-control" type="password" placeholder="Password" required="" />
        <label asp-for="Password"></label>
    </div>
    <div class="checkbox mb-2">
        <label>
            <input type="checkbox" value="RememberMe" />
            Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary float-right" type="submit">Sign in</button>
</form>